/* purgecss start ignore */
@tailwind base;
@tailwind components;
.P {
  @apply mt-3 text-base sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl;
}

.H1 {
  @apply text-4xl font-bold leading-10 tracking-tight sm:text-5xl sm:leading-none md:text-6xl;
}

.hero-h1 {
  @apply mb-6 mr-auto text-5xl leading-tight tracking-wide md:text-7xl lg:text-9xl;
}
.hero-h2 {
  @apply mr-auto text-xl whitespace-pre-line sm:mr-auto md:text-2xl;
}

.theme-container {
  @apply items-center py-12 pb-12 mx-auto space-y-12 text-base;
}

.resp-container {
  @apply flex flex-wrap items-center justify-between md:flex-nowrap;
}

.theme-heading {
  @apply text-3xl whitespace-pre-line sm:text-4xl lg:text-6xl md:text-5xl;
}

.markdown-text strong {
  @apply text-lg;
}

.theme-text {
  @apply max-w-2xl mx-auto whitespace-pre-line;
}

.hover-opacity {
  @apply transition-opacity duration-200 hover:opacity-50;
}

/* purgecss end ignore */
@tailwind utilities;

/* Font Declaration */


/* @font-face {
  font-family: "Spectral";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Spectral-Regular.woff2") format("woff2"),
    url("../fonts/Spectral-Regular.woff") format("woff"),
    url("../fonts/Spectral-Regular.ttf") format("truetype");
} */

/* .font-display {
  font-family: Spectral, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
} */

.font-main {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
/* Font Declaration */
