@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Lab Grotesque";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/LabGrotesque-Medium.woff2") format("woff2"),
    url("../fonts/LabGrotesque-Medium.woff") format("woff"),
    url("../fonts/LabGrotesque-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Lab Grotesque";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/LabGrotesque-Regular.woff2") format("woff2"),
    url("../fonts/LabGrotesque-Regular.woff") format("woff"),
    url("../fonts/LabGrotesque-Regular.ttf") format("truetype");
}

.main-background-gradient {
  background: linear-gradient(
      255.35deg,
      #dc3131 0.83%,
      rgba(255, 79, 79, 0) 108.93%
    ),
    #ff5e56;
}

input[type="checkbox"]:checked {
  background: linear-gradient(
      255.35deg,
      #dc3131 0.83%,
      rgba(255, 79, 79, 0) 108.93%
    ),
    #ff5e56;
  background-image: url("/check.svg");
  box-shadow: none;
  background-position: center;
  background-repeat: no-repeat;
}
input[type="checkbox"] {
  appearance: none;
  box-shadow: none;
  font-size: 2em;
  border: 1px solid #dfe3e6;
  border-radius: 6px;
}
